<%- include('partials/header') %>

				<!-- Inner Content -->
				<div class="relative z-1 w-full overflow-hidden pb-5 lg:pl-[300px] lg:pr-4">
					<div class="container">
						<div class="grid gap-5 xl:grid-cols-2">
							<div class="relative pt-24 text-center lg:text-left">
								<h2 class="mb-6 text-4xl font-semibold leading-tight sm:text-[52px]" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-delay="800">
									<span class="inline-flex items-center gap-5">
										<span class="shrink-0">Unlock the</span>
										<div class="relative shrink-0 animate-pulse">
											<img src="assets/images/decentralized.png" alt="" />
											<img src="assets/images/Vector1.png" alt="" class="absolute right-8 bottom-10 min-w-[150px]" />
										</div>
									</span>
									decentralized
									<span class="animate-text mx-auto block bg-gradient-to-r from-[#9A42FE] to-[#23EF9B] bg-clip-text text-transparent lg:mx-0">future.</span>
								</h2>
								<p class="font-light leading-7 opacity-40 2xl:pr-24">
									The cryptocurrency exchange of trust for individual and institutional traders & investors. An ethereum token backed by a human individual
								</p>
								<div class="mx-auto mt-10 flex w-full max-w-xl items-center gap-3 border-y-2 border-white/10 py-7 sm:mt-16 lg:mx-0" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="800">
									<h4 class="shrink-0 animate-pulse text-2xl font-semibold text-primary sm:text-5xl">3.8 M+</h4>
									<span class="block h-[3px] w-full rounded-full bg-gradient-to-r from-primary via-tertiary to-secondary"></span>
									<h6 class="shrink-0 animate-pulse text-base font-medium sm:text-xl">Market network</h6>
								</div>
							</div>
							<div class="relative flex items-center justify-center 2xl:ml-16">
								<lottie-player src="assets/js/json/main-banner.json" background="transparent" speed="0.4" loop autoplay class="w-full max-w-xl"></lottie-player>
							</div>
						</div>
						<div class="relative py-6">
							<div class="cloak-img relative w-32 sm:w-48">
								<img src="assets/images/cloak.png" alt="" />
							</div>
							<div class="relative z-1 -mt-4 overflow-x-hidden bg-primary p-4">
								<ul class="flex animate-marquee gap-4 whitespace-nowrap text-sm font-medium text-black sm:text-xl">
									<li>Earn Tokens</li>
									•
									<li>Participate Airdrops</li>
									•
									<li>Game On-Chain</li>
									✦
									<li>Trade Tokens</li>
									•
									<li>Earn Tokens</li>
									•
									<li>Game On-Chain</li>
									✦
									<li>Refer and Earn</li>
									•
									<li>Mint NFTs</li>
									•
									<li>Game On-Chain</li>
									✦
									<li>Trade Tokens</li>
									•
									<li>Mint NFTs</li>
									•
									<li>Game On-Chain</li>
									✦
									<li>Trade Tokens</li>
									•
									<li>Participate Airdrop</li>
									•
									<li>Game On-Chain</li>
									✦
									<li>Trade Tokens</li>
									•
									<li>Participate Airdrop</li>
									•
									<li>Game On-Chain</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- LottieFiles Animation JS -->
	<script src="assets/js/lottie-player.js"></script>
	<!-- AOS Animation -->
	<script src="assets/js/aos.js"></script>
	<!-- Custom Js -->
	<script src="assets/js/custom.js"></script>
</body>

</html>